*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(36, 36, 36);
}

main{
    background-color: azure;
}

footer{
    background-color: black;
    color: white;
}